.schedule-button {
    margin-right: 50px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
}

.small {
    width: 200px;
    height: 40px;
}

.large {
    width: 260px;
    height: 50px;
}

.super-large {
    width: 300px;
    height: 60px;
}

.brand-green {
    background-color: transparent;
    border: 1px solid var(--brand-green);
    color: var(--brand-green);
}

.brand-green:hover {
    background-color: var(--brand-green);
    border: 0px solid var(--brand-green);
    color: var(--white);
}

.white{
    background-color: var(--brand-green);
    border: 1px solid white;
    color: var(--white);
}

.white:hover {
    background-color: var(--white);
    border: 1px solid var(--brand-green);
    color: var(--brand-green);
}