/* - Colors - */

.beige {
    background-color: var(--brand-beige);
}

.white {
    background-color: white;
}

.brand-green-light {
    background-color: var(--brand-green-light);
}

.brand-green-light-02 {
    background-color: var(--brand-green-light-02);
}

.brand-beige {
    background-color: var(--brand-beige);
}

.brand-white {
    background-color: var(--white);
}

/* - Sections - */

section {
    height: 100vh;
    width: 100%;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    height: 85vh;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    width: 80%;
    padding-top: 2.5%;
}

.hero-content .container-informations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65%;
}

.hero-content .container-informations h2 {
    color: var(--brand-green);
    font-size: 17px;
}

.hero-content .container-informations h1 {
    font-size: 5rem;
    color: var(--grey-head-line);
}

.hero-content .container-informations p {
    font-size: 2rem;
    color: var(--grey-paragraph);
}


/* Neutral Section */

.super-large {
    height: 130vh;
}

.large {
    height: 120vh;
}

.medium {
    height: 110vh;
}

.small {
    height: 100vh;
}

.neutral-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    header {
        display: none;
    }

    .hero-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .hero-content img {
        width: 180px;
        height: auto;
    }

    .hero-content .container-informations {
        align-items: center;
    }
}

