header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  z-index: 10;
  transition: all 1s ease;
  transform: translateY(0px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 1;
    transform: translateY(-50px);
  }

}

.brand-green-light-background {
  background-color: var(--brand-green-light);
  color: green;
}

.header-suspense {
  background-color: var(--brand-green);
  color: white;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.351);
}

.logo {
  width: auto;
  height: 40px;
  margin-left: 100px;
}

.logo:hover {
  cursor: pointer;
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 5rem;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
  }

  .menu-toggle {
    display: inline
  }
}