/* Nav */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--brand-green);
  width: 110px;
  height: 100%;
  margin-left: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  transition: all 500ms ease;
}

nav .link::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--brand-green);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 500ms ease;
}

nav .link:hover::after {
  width: 100%;
}

nav .link-suspense {
  color: white;
}

nav .link-suspense::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 500ms ease;
}

nav .link-suspense:hover::after {
  width: 100%;
}

nav .link:first-child {
  margin-left: 0px;
}

nav .link:hover {
  font-weight: 800;
  cursor: pointer;
}